body {
  background-color: black;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app__header {
  width: 100%;
  height: 40px;
  background-color: blue;
}

.app__main {
  display: flex;
}

.sidebar {
  background-color: aqua;
  height: 100dvh;
  flex: 0 0 240px;
  padding-left: 16px;
}

.sidebar__menu {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.sidebar__item > a {
  display: flex;
  gap: 16px;
}

.sidebar__icon {
  width: 24px;
  height: 24px;
}

.app__content {
  flex: 1;
  background-color: brown;
  padding: 24px;
}

.app__content-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  min-height: 120px;
  margin-inline: auto;
  background-color: gray;
}

.app__content__card__inner {
  padding: 20px;
}

.add__content__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.add__content__header {
  display: flex;
  justify-content: space-between;
}

.content__numbers {
  display: flex;
  align-items: center;
}

.add__content__button {
  width: 200px;
  height: 50px;
  font-size: 24px;
}

.content__container__header {
  display: flex;
  justify-content: space-between;
}

.content__input-box__menu {
  display: flex;
}

.content__input-box_delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.content__input-box__more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.content__container__text-box {
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  gap: 10px;
  justify-content: space-between;
}

.content__sentence__inner {
  display: flex;
  flex-direction: column;
}

.content__mean__inner {
  display: flex;
  flex-direction: column;
}

.content__text-box__sentence:focus,
.content__text-box__mean:focus {
  box-shadow: 0 0 0 3px slateblue;
}

.app__content__card__text-box {
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  gap: 10px;
}

.app__content_card__text-inner {
  display: flex;
  flex-direction: column;
}
.content__card__mean-text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
}
