:root {

}

body {
    background-color: black;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app__header {
    width: 100%;
    height: 40px;
    background-color: blue;
}

.app__main {
    display: flex;
}

.sidebar {
    background-color: aqua;
    height: 100dvh;
    flex: 0 0 240px;
    padding-left: 16px;
}

.sidebar__menu {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.sidebar__item > a {
    display: flex;
    gap:16px;
}

.sidebar__icon {
    width: 24px;
    height: 24px;
}

.app__content {
    flex:1;
    background-color: brown;
    padding: 24px;
    
}

.app__content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    min-height: 200px;  
    margin-inline: auto;
    background-color: gray;
    
}

.add__content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add__content__button {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

.add




