:root {

}

body {
    background-color: black;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app__header {
    width: 100%;
    height: 40px;
    background-color: blue;
}

.app__main {
    display: flex;
}

.sidebar {
    background-color: aqua;
    height: 100dvh;
    flex: 0 0 240px;
    padding-left: 16px;
}

.sidebar__menu {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.sidebar__item {
    display: flex;
    align-items: center;
    gap:16px;
    display: flex;
}

.sidebar__icon {
    width: 24px;
    height: 24px;
}

.app__content {
    flex:1;
    /* 여기서 왜 flex 가 필요한지... */
    background-color: brown;
    /* display: flex; 왜 flex 를 넣으면 안나오는지... */
    padding: 24px;
    
}

.app__content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}

.add__word__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    min-height: 200px;  
}

.add__word__button {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

.app__content-input-card {
    width:100%;
    max-width: 800px;
    height: 500px;
    background-color: blue;
}




