body {
  background-color: black;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app__header {
  width: 100%;
  height: 40px;
  background-color: blue;
}

.app__main {
  display: flex;
}

.sidebar {
  background-color: aqua;
  height: 100dvh;
  flex: 0 0 240px;
  padding-left: 16px;
}

.sidebar__menu {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.sidebar__item > a {
  display: flex;
  gap: 16px;
}

.sidebar__icon {
  width: 24px;
  height: 24px;
}

.app__content {
  flex: 1;
  background-color: brown;
  padding: 24px;
}

.app__content-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  margin-inline: auto;
  background-color: gray;
}

.add__content__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.add__content__header {
  display: flex;
  justify-content: space-between;
}

.add__content__button {
  width: 200px;
  height: 50px;
  font-size: 24px;
}

.content__container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__input-box_delete-button {
  width: 30px;
  height: 30px;
}

.content__input-box__more-button {
  width: 30px;
  height: 30px;
}

.content__container__text-box {
  display: flex;
  justify-content: space-between;
}

.content__container__label {
  display: flex;
  justify-content: space-between;
}
